
<div class="Bigblock">
    <div class="header">
    <mat-card appearance="outlined">
        <mat-card-content>Simple card</mat-card-content>
      </mat-card>
    </div>
  <div class="card" > 
      <div class="blockCalendar">
        
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
        </mat-card>
    
        <div class="imgteam">
            <a href="#" class="profile">
                <img src="assets/images/tean.png" alt="">
			</a>
        </div>

        <!-- <p>Selected date: {{selected()}}</p> -->
                
      </div>
      <div class="blockRecent">
        
        <div class="recent1">
         <span  style="margin-left: 25%;">Recent Evenements</span>
        </div>
        
            <div class="recent2" >
                <div class="imgevent" > 
                    <img src="assets/images/logevent.svg"  alt="">
            </div>

            <div class="detail" > 
                <p>Nom Evenement</p>
                <div class="paragraphe" >
                   <p>dddf></p>
                </div>
        </div>

                </div>
                <div class="recent2" >
                    <div class="imgevent" > 
                        <img src="assets/images/logevent.svg"  alt="">
                </div>
    
                <div class="detail" > 
                    <p>Nom Evenement</p>
                    <div class="paragraphe" >
                       <p>dddf></p>
                    </div>
            </div>
    
                    </div>
                    <div class="recent2" >
                        <div class="imgevent" > 
                            <img src="assets/images/logevent.svg"  alt="">
                    </div>
        
                    <div class="detail" > 
                        <p>Nom Evenement</p>
                        <div class="paragraphe" >
                           <p>dddf></p>
                        </div>
                </div>
        
                        </div>
                

      </div>

    </div>
</div>